.tippy-box[data-placement^='top'] > .tippy-svg-arrow {
  bottom: 0;
}
.tippy-box[data-placement^='top'] > .tippy-svg-arrow:after,
.tippy-box[data-placement^='top'] > .tippy-svg-arrow > svg {
  top: 1em;
  transform: rotate(180deg);
}
.tippy-box[data-placement^='bottom'] > .tippy-svg-arrow {
  top: 0;
}
.tippy-box[data-placement^='bottom'] > .tippy-svg-arrow > svg {
  bottom: 1em;
}
.tippy-box[data-placement^='left'] > .tippy-svg-arrow {
  right: 0;
}
.tippy-box[data-placement^='left'] > .tippy-svg-arrow:after,
.tippy-box[data-placement^='left'] > .tippy-svg-arrow > svg {
  transform: rotate(90deg);
  top: calc(50% - 0.188em);
  left: 0.688em;
}
.tippy-box[data-placement^='right'] > .tippy-svg-arrow {
  left: 0;
}
.tippy-box[data-placement^='right'] > .tippy-svg-arrow:after,
.tippy-box[data-placement^='right'] > .tippy-svg-arrow > svg {
  transform: rotate(-90deg);
  top: calc(50% - 0.188em);
  right: 0.688em;
}
.tippy-svg-arrow {
  width: 1em;
  height: 1em;
  fill: #333;
  text-align: initial;
}
.tippy-svg-arrow,
.tippy-svg-arrow > svg {
  position: absolute;
}
